# ENERGY API base URL
# If energy-api is running locally, you can leave it as is
NEXT_PUBLIC_ENERGY_API_URL=http://localhost:3201/api

# DeKYC API Base URL
# If the API is running locally, you can leave it as is
NEXT_PUBLIC_DEKYC_API_URL=http://localhost:3001/api

# Public Service ID for ENERGY in DeKYC
# Where to get it:
# - from apps/energy-api/.env
# - the value must match DEKYC_SERVICE_ID
NEXT_PUBLIC_DEKYC_SERVICE_ID=REPLACE_WITH_VALUE_FROM_ENERGY_API_ENV_DEKYC_SERVICE_ID

# Public Client ID for ENERGY in DeKYC
# Where to get it:
# - from apps/energy-api/.env
# - the value must match DEKYC_CLIENT_ID
NEXT_PUBLIC_DEKYC_CLIENT_ID=REPLACE_WITH_VALUE_FROM_ENERGY_API_ENV_DEKYC_CLIENT_ID